<div class="login-box">
    <form id="loginForm" action="#" method="POST">
        <div class="panel panel-default">
            <div class="panel-heading"><b>Register</b> <span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span></div>
            <div class="panel-body">
                <div class="form-group has-primary has-feedback">
                    <label class="control-label" for="login">Name <span class="regForm text-danger">*</span></label>
                    <input type="text" class="form-control" name="login" id="login" aria-describedby="login" required>
                    <span class="glyphicon glyphicon-user form-control-feedback" aria-hidden="true"></span>
                </div>
                <div class="form-group has-primary has-feedback">
                    <label class="control-label" for="password">Username <span class="regForm text-danger">*</span></label>
                    <input type="password" class="form-control" name="password" id="password" aria-describedby="password" required>
                  
                </div>
                <div class="form-group has-primary has-feedback">
                    <label class="control-label" for="password">E-mail <span class="regForm text-danger">*</span></label>
                    <input type="password" class="form-control" name="password" id="password" aria-describedby="password" required>
                    <span class="glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>
				</div>

				<div class="form-group has-primary has-feedback">
                    <label class="control-label" for="password">Password <span class="regForm text-danger">*</span></label>
                    <input type="password" class="form-control" name="password" id="password" aria-describedby="password" required>
                    <span class="glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>
            	</div>

            		<div class="form-group has-primary has-feedback">
                    <label class="control-label" for="password">Verify Password <span class="regForm text-danger">*</span></label>
                    <input type="password" class="form-control" name="password" id="password" aria-describedby="password" required>
                    <span class="glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>
            	</div>


            <div class="panel-footer">
                <input type="submit" class="btn btn-success" id="goToChat" value="Sign up" />
                <a routerLink="/login" class="btn btn-danger pull-right">Cancel</a>
            </div>
        </div>
    </div>
    </form>
</div>
<div class="text-center">

</div>