<nav class="navbar container-fluid ">
  <div class="container-fluid ">
     <a class="float-right do-width" routerLink="/user/:uid/main">Home</a> 
   <a class="p-md-5" routerLink="/user/:uid/create">Create</a>
      <a class="navLink2" href="comments.html">Comments</a>
       <a class="navLink3" routerLink="/user/:uid/profile">Profile</a>
        <a class="navLink3" href="profile.html">Log Out</a>
        </div>
     </nav>
     
<div class="row">
    <div class="col-md-3 d-none d-sm-block" >
        <!-- <div class="container-fluid">
            <img class="style42" src="http://tako.assets.yotako.io/images/brand/big-octo.png" alt="An amazing Yotako poulp">
               <h2 class="style43">A Subtitle</h2>
                  <h2 class="style43">A Subtitle</h2>
                     <h2 class="style43">A Subtitle</h2>
            
         </div>
 -->

 <ul class="links articles">
     <div ><li *ngFor="let article of articles"><a href={{article.articleURL}}>{{article.articleName}} </a>
       <div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-sm btn-secondary">Star</button>
 

<button type="button" class="btn btn-sm  btn-secondary">Comment
</button>
  <button type="button" class="btn btn-sm  btn-secondary">Share</button>
  </div></li>


</div>
 </ul>

    </div>
<div class="col-sm-8"> 
    
<form #f="ngForm" (ngSubmit)="create()" id="articleForm" >
  <div class="form-group">
  <label for="name">Article Name</label>
</div>
  <input type="text" required #name="ngModel" ngModel name="name" maxlength="150" class='border form-control btn-block' >
  <label>Article URL</label>
  <input type="text" name="url" ngModel required #url="ngModel" class='border form-control btn-block'>
    <button type="submit" [disabled]='f.invalid' class="btn btn-block btn-primary">Submit</button>

</form>
</div>
 
  </div>