<nav class="navbar container-fluid ">
  <div class="container-fluid ">
     <a class="float-right do-width" href="main.html">Home</a> 
   <a class="p-md-5" href="create.html">Create</a>
      <a class="navLink2" href="comments.html">Comments</a>
       <a class="navLink3" href="profile.html">Profile</a>
        <a class="navLink3" href="profile.html">Log Out</a>
        </div>
     </nav>
     
<div class="row">
    <div class="col-md-3 d-none d-sm-block" >
        <!-- <div class="container-fluid">
            <img class="style42" src="http://tako.assets.yotako.io/images/brand/big-octo.png" alt="An amazing Yotako poulp">
               <h2 class="style43">A Subtitle</h2>
                  <h2 class="style43">A Subtitle</h2>
                     <h2 class="style43">A Subtitle</h2>
            
         </div>
 -->

 <ul class="links">
     <div><li ><a href="">Donald Trump and Vladimir Putin morph into the same person in Time magazine cover Donald Trump and Vladimir Putin morph into the same person </a>
       <div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-sm btn-secondary">Star</button>
 

<!-- Button trigger modal -->
<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
  Comment
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter your comment here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea id="comment"  cols="50"> </textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>


  <button type="button" class="btn btn-secondary">Share</button>
  </div></li>


</div>
 </ul>

    </div>
<div class="col-sm-8"> 
    
<form>
  <div class="form-group">
  <label for="name">Article Name</label>
</div>
  <input type="text" name="name" maxlength="150" class='border form-control btn-block'>
  <label>Article URL</label>
  <input type="text" name="url" class='border form-control btn-block'>
    <button type="submit" class="btn btn-block btn-outline-primary" >Submit</button>

</form>
</div>
 
  </div>