<div class="login-box">
    <form id="loginForm" (ngSubmit)="login()" #f = "ngForm" >
        <div class="panel panel-default">
            <div class="panel-heading"><b>Sign in</b> <span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span></div>
            <div class="panel-body">
                <div class="form-group has-primary has-feedback">
                    <label class="control-label" for="login">Login <span class="regForm text-danger">*</span></label>
                    <input type="text" class="form-control" name="username" id="login" aria-describedby="login"  ngModel #username="ngModel"  placeholder="Username" required>
                    <span class="glyphicon glyphicon-user form-control-feedback" aria-hidden="true"></span>
                </div>
                <div class="form-group has-primary has-feedback">
                    <label class="control-label" for="password">Password <span class="regForm text-danger">*</span></label>
                    <input type="password" class="form-control" name="password" id="password" ngModel #password="ngModel" aria-describedby="password"  placeholder="Password" required>
                    <span class="glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
            <div class="panel-footer">
                <input type="submit" class="btn btn-success" id="goToChat" value="Sign in" />
                <a routerLink="/register" class="btn btn-warning pull-right">Register</a>
            </div>
        </div>
    </form>
</div>
<div class="text-center">

</div>