
<nav class="navbar container-fluid">
<!-- <div class="navItems"> -->
     <span class="float-right" ><a routerLink="/user/:uid/main">Home</a></span> 
   <a class="p-md-5" routerLink="/create">Create</a>
      <a class="navLink2" href="comments.html">Comments</a>
       <a class="navLink3" href="profile.html">Profile</a>
        <a class="navLink3" href="profile.html">Log Out</a>
    <form>
  <div>
       <input type="text" placeholder="Search.." name="search" >
        <button class="search-container" type="submit"><i class="fa fa-search"></i></button>
      </div>
     </form>
<!-- </div> -->
     </nav>



<div class="row">
    <div class="col-sm-4 d-none d-sm-block" >
        <!-- <div class="container-fluid">
            <img class="style42" src="http://tako.assets.yotako.io/images/brand/big-octo.png" alt="An amazing Yotako poulp">
               <h2 class="style43">A Subtitle</h2>
                  <h2 class="style43">A Subtitle</h2>
                     <h2 class="style43">A Subtitle</h2>
            
         </div>
 -->

<br>
<br>
        <div class="card">
           <!--  <img src="img.jpg" alt="John" style="width:100%"> -->
            <h1>Name</h1>
            <p class="title">username</p>
            <p>E-mail</p>
            <a href="#"><i class="fa fa-dribbble"></i></a> 
            <a href="#"><i class="fa fa-twitter"></i></a> 
            <a href="#"><i class="fa fa-linkedin"></i></a> 
            <a href="#"><i class="fa fa-facebook"></i></a> 
            <p><button>Contact</button></p>
        </div>
    </div>


<div class="col-sm-5 d-none d-sm-block">
<ul class="links">
<li ><a href="">Donald Trump and Vladimir Putin morph into the same person in Time magazine cover Donald Trump and Vladimir Putin morph into the same person in Time magazine cover </a>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary">Star</button> 
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
        Comment
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Enter your comment here</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <textarea id="comment"  cols="50"> </textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>

        <button type="button" class="btn btn-secondary">Share</button>
      </div>
  </li>

 </ul>

 </div>


  <!--  <div class="main-wrapper">
        
        <p class="style61">a link</p>
        <div class="newwireframe4row2"><button class="style64"><p class="style65">Button</p></button><button class="style66"><p class="style67">Button</p></button><button class="style68"><p class="style69">Button</p></button></div>
        <p class="style58">a link</p>
        <div class="newwireframe4row4"><button class="style70"><p class="style71">Button</p></button><button class="style72"><p class="style73">Button</p></button><button class="style74"><p class="style75">Button</p></button></div>
        <p class="style63">a link</p>
        <div class="newwireframe4row6"><button class="style76"><p class="style77">Button</p></button><button class="style78"><p class="style79">Button</p></button><button class="style80"><p class="style81">Button</p></button></div>
        <p class="style60">a link</p>
        <div class="newwireframe4row8"><button class="style82"><p class="style83">Button</p></button><button class="style84"><p class="style85">Button</p></button><button class="style86"><p class="style87">Button</p></button></div>
        <p class="style59">a link</p>
        <div class="newwireframe4row10"><button class="style88"><p class="style89">Button</p></button><button class="style90"><p class="style91">Button</p></button><button class="style92"><p class="style93">Button</p></button></div>
        <p class="style62">a link</p>
        <div class="newwireframe4row12"><button class="style94"><p class="style95">Button</p></button><button class="style96"><p class="style97">Button</p></button><button class="style98"><p class="style99">Button</p></button></div>
    </div>
 -->
<!-- class="style12"
class="style13" -->


   <!--  <div class="main-wrapper">
        <div class="newwireframe3unsupported0 unsupported"></div>
        <div class="newwireframe3row1">
            <div class="newwireframe3row1column1"><button class="style6"><p class="style7">Button</p></button><button class="style12"><p class="style13">Button</p></button></div>
            <div class="newwireframe3row1column2">
                <p class="style3">a link</p><button class="style8"><p class="style9">Button</p></button>
                <p class="style0">a link</p><button class="style14"><p class="style15">Button</p></button>
                <p class="style5">a link</p>
            </div>
            <div class="newwireframe3row1column3"><button class="style10"><p class="style11">Button</p></button><button class="style16"><p class="style17">Button</p></button></div>
        </div>
        <div class="newwireframe3row2"><button class="style18"><p class="style19">Button</p></button><button class="style20"><p class="style21">Button</p></button><button class="style22"><p class="style23">Button</p></button></div>
     
        <div class="newwireframe3row4">
          <button class="style24"><p class="style25">Button</p></button>
            <div class="newwireframe3row4column2">
                <p class="style2">a link</p><button class="style26"><p class="style27">Button</p></button></div><button class="style28"><p class="style29">Button</p></button></div>
      
        <div class="newwireframe3row6">
          <button class="style30"><p class="style31">Button</p></button>
            <div class="newwireframe3row6column2">
                <p class="style1">a link</p><button class="style32"><p class="style33">Button</p></button></div><button class="style34"><p class="style35">Button</p></button></div>
        <p class="style4">a link</p>
        <div class="newwireframe3row8"><button class="style36"><p class="style37">Button</p></button><button class="style38"><p class="style39">Button</p></button><button class="style40"><p class="style41">Button</p></button></div>
    </div> -->