
 <nav class="navbar container-fluid">
  <a class="p-md-5" routerLink="/user/:uid/main">Home</a> 
   <a class="p-md-5" routerLink="/user/:uid/create">Create</a>
     <a class="navLink2" routerLink="comments.html">Comments</a>
      <a class="navLink3" routerLink="/user/:uid/profile">Profile</a>
       <a class="navLink3" routerLink="login">Log Out</a>
  </nav>


<br>
<br>
<br>
<!-- <div class="row"> -->
  <!--   <div class="col-md-7 d-none d-sm-block" > -->
    

<div>
<div class="card2">
 <!--  <img src="img.jpg" alt="John" style="width:100%"> -->
  <h1>Name</h1>
  <p class="title2">username</p>
  <p>E-mail</p>
  <a href="#"><i class="fa fa-dribbble"></i></a> 
  <a href="#"><i class="fa fa-twitter"></i></a> 
  <a href="#"><i class="fa fa-linkedin"></i></a> 
  <a href="#"><i class="fa fa-facebook"></i></a> 

 
<button  class="cardBtn btn btn-warning">Edit profile</button>
<button class="cardBtn btn btn-danger">Delete profile</button>

  </div>

